 <!-- FAQ -->
<section class="pt-7 pb-7">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-11">
                <div class="about-us-title text-center">
                    <h2 data-animate="fadeInUp" data-delay=".1">آیا در ذهن خود سوالی دارید؟</h2>
                    <p data-animate="fadeInUp" data-delay=".2">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد</p>
                </div>
            </div>
        </div>
        <div class="border-bottom pt-4 pb-4">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <div class="single-faq-wrap">
                        <h2 data-animate="fadeInUp" data-delay=".1">پرسش و پاسخ عمومی</h2>

                        <h4 data-animate="fadeInUp" data-delay=".2"><i class="fas fa-question-circle"></i> چگونه اپ سایت را نصب کنیم؟</h4>
                        <p data-animate="fadeInUp" data-delay=".3">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز</p>

                        <h4 data-animate="fadeInUp" data-delay=".4"><i class="fas fa-question-circle"></i> تفاوت بین سرویس های سایت در چیست ؟</h4>
                        <p data-animate="fadeInUp" data-delay=".5">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز</p>

                        <h4 data-animate="fadeInUp" data-delay=".6"><i class="fas fa-question-circle"></i> آیا سرویس های سایت دارای پشتیبانی است ؟</h4>
                        <p data-animate="fadeInUp" data-delay=".7">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <!-- Youtube video -->
                    <div class="youtube-video position-relative mt-5 mt-md-0" data-animate="fadeInUp" data-delay=".1">
                        <img src="/img/faq-video.jpg" alt="">
                        <a href="https://www.youtube.com/watch?v=y2Ky3Wo37AY" class="youtube-popup play-btn ripple">
                            <i class="fas fa-play"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="pt-4">
            <div class="row">
                <div class="col-md-6">
                    <div class="single-faq-wrap">
                        <h2 data-animate="fadeInUp" data-delay=".1">سوالات و پاسخ های مرتبط با حساب کاربری</h2>

                        <h4 data-animate="fadeInUp" data-delay=".2"><i class="fas fa-question-circle"></i> آیا می توانم قبل از خرید اکانت آزمایشی دریافت کنم؟</h4>
                        <p data-animate="fadeInUp" data-delay=".3">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز</p>

                        <h4 data-animate="fadeInUp" data-delay=".4"><i class="fas fa-question-circle"></i> چند اتصال همزمان را مجاز می دانید؟</h4>
                        <p data-animate="fadeInUp" data-delay=".5">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز</p>

                        <h4 data-animate="fadeInUp" data-delay=".6"><i class="fas fa-question-circle"></i> آیا سرویس دارای قطعی است ؟</h4>
                        <p data-animate="fadeInUp" data-delay=".7">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="single-faq-wrap mt-5 mt-md-0">
                        <h2 data-animate="fadeInUp" data-delay=".1">راهنمای فنی/نحوه استفاده</h2>

                        <h4 data-animate="fadeInUp" data-delay=".2"><i class="fas fa-question-circle"></i> می توانم وصل شوم، اما نمی توانم مرور کنم.</h4>
                        <p data-animate="fadeInUp" data-delay=".3">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز</p>

                        <h4 data-animate="fadeInUp" data-delay=".4"><i class="fas fa-question-circle"></i> آیا در صورت خرید سرویس مصرف اینترنت نیم بها میشود ؟</h4>
                        <p data-animate="fadeInUp" data-delay=".5">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز</p>

                        <h4 data-animate="fadeInUp" data-delay=".6"><i class="fas fa-question-circle"></i> چه پورت هایی باید روی فایروال/روتر باز باشد تا کار کند؟</h4>
                        <p data-animate="fadeInUp" data-delay=".7">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End of FAQ -->