  <!-- Banner -->
 <section class="position-relative bg-light pt-4 pb-4">
    <div id="particles_js"></div>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <!-- Banner content -->
                <div class="banner-content">
                    <h1 data-animate="fadeInUp" data-delay="1.2">
                     بهترین شرکت اراعه دهنده شن و ماسه در شیراز
                    </h1>
                    <h2 data-animate="fadeInUp" data-delay="1.3"><span class="typed"></span></h2>
                    <ul class="list-inline" data-animate="fadeInUp" data-delay="1.4">
                        <li><a href="/About/ShowAboutUs" class="btn btn-primary">بیشتر درباره ما بدانید</a></li>
                        <li>
                            <a href="/Ticket/Addticket" class="btn">نظرات شکایات خود را به مدیر شرکت ارسال کنید  <i class="fas fa-caret-right"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-6 d-none d-lg-block">
                <!-- Banner image -->
                <div class="banner-image">
                    <img src="/img/sand2.jpg" alt="" data-animate="fadeInUp" data-delay="1.5" data-depth="0.2">
                </div>
            </div>
        </div>
    </div> 
</section>
<!-- End of Banner -->
<!-- Features -->
<section class="pt-7 pb-5-5">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="single-feature text-center" data-animate="fadeInUp" data-delay=".1">
                  <h3>محصولات ما</h3>
                    <img src="/img/sandfirst.jpg" alt="" data-no-retina class="svg">
                    <h3>
                        شن درجه یک کوه های دور وبر 
                    </h3>
                    <p>
                  شن های ارزنده و ناب
                  درکوه زاگرش 
                  قیمت کیلو=300000
                    </p>
                <a href="/Shop/Listshop">وارد صفحه فروشگاه شوید</a>
                </div>
            </div>

            <div class="col-md-4">
                <div class="single-feature text-center" data-animate="fadeInUp" data-delay=".3">
                    <h3>اخبار</h3>
                    <img src="/img/sand2.jpg" alt="" data-no-retina class="svg">
                    <h3>جلسه مربوط به مالیات </h3>
                    <p>
                        تلتلتلت;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;';;';'
                        ..............;;.;.;.kmknjnbnhhhhhhhhhbhbhbhh
                        لتلتلتلتببتبکسمنیشتبشیکسبنئشس/میئرسی/منرئ/سمین
                    </p>
                    <a href="/News/ListNews">خبر </a>
                    </div>

            </div>

            <div class="col-md-4">
                <div class="single-feature text-center" data-animate="fadeInUp" data-delay=".5">
                    <h3>رزومه ما</h3>
                    <img src="/img/ourcpmpanysand.jpg" alt=""  data-no-retina class="svg">
                    <h3> میتونه توضیخاتی ار خودمون باشه</h3>
                    <p>شرکت شیراز </p>
              <a href="/About/ShowAboutUs">با بیشتر آشنا شوید</a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="single-feature text-center" data-animate="fadeInUp" data-delay=".5">
                    <h3>ارسال  نظر</h3>
                    <img src="/img/ourcpmpanysand.jpg" alt="" data-no-retina class="svg">
                   
                    <p>
                     به صفحه نظرات وارد شوید و از تجربه خرید با ماب و مشتریان دیگر را ببینید
                    </p>
                    <a href="/Ticket/AddTicket">ورود به صفحه ارسال نظر</a>
                </div>
            </div>

            <div class="col-md-4">
                <div class="single-feature text-center" data-animate="fadeInUp" data-delay=".5">
                    <h3>ارسال  شکایت</h3>
                    <img src="/img/ourcpmpanysand.jpg" alt="" data-no-retina class="svg">
                    <h3> دسترسی به اپراتوریا ارسال تیکت </h3>
                    <p>
                       بع پشتیانب و خدمات پس از فروش وصل شوید
                      و کیفیت بد کالا, از مشکلات و اعتراضات نسبت بعد خرید
                      
                    </p>
                    <a href="/Complain/AddComplain">ارسال</a>
                </div>
            </div>


        </div>
    </div>
</section>
<!-- End of Features -->
<!-- Our services -->
<section>
    <div class="services-title position-relative pt-7" data-bg-img="/img/buildings.jpg">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-6 col-lg-8">
                    <!-- Section title -->
                    <div class="section-title text-center">
                        <h2 class="text-white" data-animate="fadeInUp" data-delay=".1">
                            شن چیست؟ انواع کاربردها ویژگی ها و آزمایش سنگدانه درشتبه زبان ساده
                        </h2>
                        <p class="text-white" data-animate="fadeInUp" data-delay=".3">

                            شن به سنگ‌ریزه خردتر از ریگ و درشت‌تر از ماسه گفته می‌شود.
                            شن معمولاً در ساحل دریا و ر
                            ود به راحتی یافت می‌شود. در مهندسی عمران بر اساس طبقه‌بندیِ 
                        </p>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="services-wrap bg-white position-relative pt-5 pb-5">
        <div class="container">
            <!-- All services -->
            <div class="row">
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="single-service" data-animate="fadeInUp" data-delay=".05">
                        <img src="/img/icons/security.svg" alt="" alt="" data-no-retina class="svg">
                        <h4>از حریم خصوصی و امنیت اطمینان حاصل کنید</h4>
                        <span>
                            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان
                            گرافیک است
                        </span>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="single-service" data-animate="fadeInUp" data-delay=".1">
                        <img src="/img/icons/speed.svg" alt="" data-no-retina class="svg">
                        <h4>دسترسی و سرعت جریان</h4>
                        <span>
                            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان
                            گرافیک است
                        </span>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="single-service" data-animate="fadeInUp" data-delay=".15">
                        <img src="/img/icons/device.svg" alt="" alt="" data-no-retina class="svg">
                        <h4>اینترنت برای همه دستگاه ها</h4>
                        <span>
                            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان
                            گرافیک است
                        </span>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="single-service" data-animate="fadeInUp" data-delay=".2">
                        <img src="/img/icons/internet.svg" alt="" alt="" data-no-retina class="svg">
                        <h4>اینترنت کاملاً رمزگذاری شده</h4>
                        <span>
                            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان
                            گرافیک است
                        </span>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="single-service" data-animate="fadeInUp" data-delay=".25">
                        <img src="/img/icons/network.svg" alt="" alt="" data-no-retina class="svg">
                        <h4>شبکه اینترنت چندگانه</h4>
                        <span>
                            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان
                            گرافیک است
                        </span>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="single-service" data-animate="fadeInUp" data-delay=".3">
                        <img src="/img/icons/virus.svg" alt="" alt="" data-no-retina class="svg">
                        <h4>محتوای مخرب را مسدود کنید</h4>
                        <span>
                            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان
                            گرافیک است
                        </span>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="single-service" data-animate="fadeInUp" data-delay=".35">
                        <img src="/img/icons/bandwidth.svg" alt="" alt="" data-no-retina class="svg">
                        <h4>پهنای باند نامحدود</h4>
                        <span>
                            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان
                            گرافیک است
                        </span>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="single-service" data-animate="fadeInUp" data-delay=".4">
                        <img src="/img/icons/trial.svg" alt="" alt="" data-no-retina class="svg">
                        <h4>7 روز آزمایشی رایگان</h4>
                        <span>
                            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان
                            گرافیک است
                        </span>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="single-service" data-animate="fadeInUp" data-delay=".45">
                        <img src="/img/icons/website.svg" alt="" alt="" data-no-retina class="svg">
                        <h4>دسترسی به وب سایت های محدود</h4>
                        <span>
                            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان
                            گرافیک است
                        </span>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="single-service" data-animate="fadeInUp" data-delay=".5">
                        <img src="/img/icons/settings.svg" alt="" alt="" data-no-retina class="svg">
                        <h4>تنظیمات فرندلی کاربر</h4>
                        <span>
                            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان
                            گرافیک است
                        </span>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="single-service" data-animate="fadeInUp" data-delay=".55">
                        <img src="/img/icons/team.svg" alt="" alt="" data-no-retina class="svg">
                        <h4>تیم پشتیبانی تخصصی</h4>
                        <span>
                            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان
                            گرافیک است
                        </span>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="single-service" data-animate="fadeInUp" data-delay=".6">
                        <img src="/img/icons/money.svg" alt="" alt="" data-no-retina class="svg">
                        <h4>تضمین بازگشت پول</h4>
                        <span>
                            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان
                            گرافیک است
                        </span>
                    </div>
                </div>
            </div>

            <!-- Service contact info -->
            <div class="roboto text-center font-weight-medium" data-animate="fadeInUp" data-delay=".65">
                <p>
                    اگر سوالی در ذهن دارید، فقط <a href="/contact.html">اینجا کلیک کنید</a> و سوالتان را بنویسید
                    یا<br>تماس بگیرید با <a href="tel:1234567890">09000000000</a>
                </p>
            </div>
        </div>
    </div>
</section>
<!-- End of Our services -->
<!-- Pricing plans -->
<section class="pricing-plans pt-7 pb-7">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <!-- Section title -->
                <div class="section-title">
                    <h2 data-animate="fadeInUp" data-delay=".1">طرح قیمت گذاری خود را انتخاب کنید</h2>
                    <p data-animate="fadeInUp" data-delay=".3">
                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت
                        چاپ و با استفاده از طراحان گرافیک است
                    </p>
                </div>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-lg-5">
                <!-- Features list -->
                <div class="pricing-features">
                    <h3 class="cabin" data-animate="fadeInUp" data-delay=".5">
                        ویژگی های موجود در این طرح قیمت گذاری.
                        بیایید ببینیم چه ویژگی هایی دریافت خواهید کرد.
                    </h3>
                    <ul class="list-unstyled list-item clearfix">
                        <li data-animate="fadeInUp" data-delay=".1">
                            <i class="fas fa-check-circle"></i>بدون سیاست
                            گزارش
                        </li>
                        <li data-animate="fadeInUp" data-delay=".15">
                            <i class="fas fa-check-circle"></i>P2P مجاز است
                        </li>
                        <li data-animate="fadeInUp" data-delay=".2">
                            <i class="fas fa-check-circle"></i>Onion Over
                            اینترنت
                        </li>
                        <li data-animate="fadeInUp" data-delay=".25">
                            <i class="fas fa-check-circle"></i>سرعت های
                            شگفت انگیز شعله ور
                        </li>
                        <li data-animate="fadeInUp" data-delay=".3">
                            <i class="fas fa-check-circle"></i>آسان برای
                            استفاده
                        </li>
                        <li data-animate="fadeInUp" data-delay=".35">
                            <i class="fas fa-check-circle"></i>پی پال و بیت
                            کوین پذیرفته شد
                        </li>
                        <li data-animate="fadeInUp" data-delay=".4">
                            <i class="fas fa-check-circle"></i>شبکه جهانی
                        </li>
                        <li data-animate="fadeInUp" data-delay=".45">
                            <i class="fas fa-check-circle"></i>هر زمان و هر
                            کجا لغو کنید
                        </li>
                        <li data-animate="fadeInUp" data-delay=".5">
                            <i class="fas fa-check-circle"></i>پشتیبانی
                            مشتری دوستانه
                        </li>
                        <li data-animate="fadeInUp" data-delay=".55">
                            <i class="fas fa-check-circle"></i>Kill Switch
                            موجود است
                        </li>
                        <li data-animate="fadeInUp" data-delay=".6">
                            <i class="fas fa-check-circle"></i>پهنای باند
                            نامحدود
                        </li>
                        <li data-animate="fadeInUp" data-delay=".65">
                            <i class="fas fa-check-circle"></i>رمزگذاری
                            مضاعف
                        </li>
                    </ul>
                    <a href="#" class="btn" data-animate="fadeInUp" data-delay=".7">
                        مشاهده روش پرداخت <i class="fas fa-caret-right"></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-7">
                <!-- Pricing slider -->
                <div class="pricing-slides text-center">
                    <div class="swiper-container pricing-slider">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide single-pricing-slide">
                                <div class="single-pricing-plan">
                                    <img src="/img/icons/startup.svg" alt="" alt="" data-no-retina class="svg">
                                    <h4>استارت آپ</h4>
                                    <span class="time roboto">برنامه یک ماهه</span>
                                    <strong class="roboto">50 هزار تومان<sub>/ماه</sub></strong>
                                    <p>صورتحساب <span>50 هزار تومان</span> هر ماه <br>30 روز ضمانت بازگشت وجه</p>
                                    <a href="#" class="btn btn-primary">این طرح را دریافت کنید</a>
                                </div>
                            </div>

                            <div class="swiper-slide single-pricing-slide">
                                <div class="single-pricing-plan">
                                    <img src="/img/icons/enterprise.svg" alt="" alt="" data-no-retina class="svg">
                                    <h4>شرکت، پروژه</h4>
                                    <span class="time roboto">برنامه دو ساله</span>
                                    <strong class="roboto">2 میلیون تومان<sub>/ماه</sub></strong>
                                    <p>صورتحساب <span>114</span> هر ماه <br>30 روز ضمانت بازگشت وجه</p>
                                    <a href="#" class="btn btn-primary">این طرح را دریافت کنید</a>
                                </div>
                            </div>

                            <div class="swiper-slide single-pricing-slide">
                                <div class="single-pricing-plan">
                                    <img src="img/icons/bandwidth.svg" alt="" alt="" data-no-retina class="svg">
                                    <h4>استاندارد</h4>
                                    <span class="time roboto">برنامه یک ساله</span>
                                    <strong class="roboto">1 میلیون تومان <sub>/ماه</sub></strong>
                                    <p>صورتحساب <span>80 هزار تومان</span> هر ماه <br>30 روز ضمانت بازگشت وجه</p>
                                    <a href="#" class="btn btn-primary">این طرح را دریافت کنید</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-pagination pricing-pagination position-static"></div>
                </div>
                <!-- End of Pricing slider -->
            </div>
        </div>
    </div>
</section>
<!-- End of Pricing plans -->
<!-- Reviews -->
<section class="pt-7 pb-7 bg-light">
    <div class="container">
        <div class="section-title text-center">
            <h2 data-animate="fadeInUp" data-delay=".1">مشتری در مورد ما چه می گوید</h2>
        </div>
        <div class="swiper-container review-slider">
            <div class="swiper-wrapper">
                <div class="swiper-slide single-review-slide">
                    <h4>
                        Marsha C. Meyer
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </h4>
                    <span>ملبورن، استرالیا</span>
                    <p>
                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است
                        چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی
                        تکنولوژی مورد نیاز
                    </p>
                </div>

                <div class="swiper-slide single-review-slide">
                    <h4>
                        Bns H. Jabed
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </h4>
                    <span>تهران , ایران</span>
                    <p>
                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است
                        چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی
                        تکنولوژی مورد نیاز
                    </p>
                </div>

                <div class="swiper-slide single-review-slide">
                    <h4>
                        Cathy S. Knight
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </h4>
                    <span>کالیفرنیا , آمریکا</span>
                    <p>
                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است
                        چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی
                        تکنولوژی مورد نیاز
                    </p>
                </div>

                <div class="swiper-slide single-review-slide">
                    <h4>
                        Cathy S. Knight
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </h4>
                    <span>کالیفرنیا , آمریکا</span>
                    <p>
                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است
                        چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی
                        تکنولوژی مورد نیاز
                    </p>
                </div>

                <div class="swiper-slide single-review-slide">
                    <h4>
                        Cathy S. Knight
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </h4>
                    <span>کالیفرنیا , آمریکا</span>
                    <p>
                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است
                        چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی
                        تکنولوژی مورد نیاز
                    </p>
                </div>
            </div>
        </div>
        <div class="swiper-pagination review-pagination position-static"></div>
    </div>
</section>
<!-- End of Reviews -->
<!-- Mobile app -->
<section class="pt-7 pb-7">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-4 d-none d-md-block">
                <div class="text-center" data-animate="fadeInUp" data-delay=".1">
                    <img src="/img/mobile.png" alt="">
                </div>
            </div>
            <div class="col-lg-6 col-md-8">
                <div class="app-info">
                    <h2 data-animate="fadeInUp" data-delay=".1">دانلود اپلیکیشن</h2>
                    <p data-animate="fadeInUp" data-delay=".3">
                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت
                        چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان
                        که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز
                    </p>
                    <ul class="apps-list list-inline">
                        <li data-animate="fadeInUp" data-delay=".5">
                            <a href="#">
                                <img src="/img/play-store.png"
                                     alt="">
                            </a>
                        </li>
                        <li data-animate="fadeInUp" data-delay=".6">
                            <a href="#">
                                <img src="/img/app-store.png"
                                     alt="">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End of Mobile app -->
<!-- Servers -->
<section class="servers pt-7 bg-light">
    <div class="container">
        <div class="row">
            <div class="col-xl-4 col-lg-5">
                <div class="section-title">
                    <h2 data-animate="fadeInUp" data-delay=".1">سرور 865 در کشور 197</h2>
                    <p data-animate="fadeInUp" data-delay=".2">
                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت
                        چاپ و با استفاده از طراحان گرافیک است
                    </p>
                </div>
                <ul class="data-centers list-unstyled list-item clearfix">
                    <li data-animate="fadeInUp" data-delay=".1">
                        <i class="fas fa-caret-right"></i>آمریکای شمالی
                        (201)
                    </li>
                    <li data-animate="fadeInUp" data-delay=".2">
                        <i class="fas fa-caret-right"></i>آمریکای جنوبی
                        (169)
                    </li>
                    <li data-animate="fadeInUp" data-delay=".3"><i class="fas fa-caret-right"></i>اروپا (151)</li>
                    <li data-animate="fadeInUp" data-delay=".4">
                        <i class="fas fa-caret-right"></i>استرالیا/اقیانوسیه
                        (142)
                    </li>
                    <li data-animate="fadeInUp" data-delay=".5"><i class="fas fa-caret-right"></i>آسیا (70)</li>
                    <li data-animate="fadeInUp" data-delay=".6"><i class="fas fa-caret-right"></i>آفریقا (40)</li>
                </ul>
                <a href="#" class="btn server-btn" data-animate="fadeInUp" data-delay=".7">
                    مشاهده روش پرداخت <i class="fas fa-caret-right"></i>
                </a>
            </div>
            <div class="col-xl-8 col-lg-7 d-none d-lg-block">
                <div class="server-map">
                    <img src="/img/servers.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Servers -->
<!-- Our clients -->
<section class="clients-wrap pt-4 pb-4">
    <div class="container">
        <ul class="our-clients list-unstyled d-md-flex align-items-md-center justify-content-md-between m-0">
            <li data-animate="fadeInUp" data-delay=".1">
                <a href="#" target="_blank"><img src="/img/brands/brand1.png" alt=""></a>
            </li>
            <li data-animate="fadeInUp" data-delay=".2">
                <a href="#" target="_blank"><img src="/img/brands/brand2.png" alt=""></a>
            </li>
            <li data-animate="fadeInUp" data-delay=".3">
                <a href="#" target="_blank"><img src="/img/brands/brand3.png" alt=""></a>
            </li>
            <li data-animate="fadeInUp" data-delay=".4">
                <a href="#" target="_blank"><img src="/img/brands/brand4.png" alt=""></a>
            </li>
            <li data-animate="fadeInUp" data-delay=".5">
                <a href="#" target="_blank"><img src="/img/brands/brand5.png" alt=""></a>
            </li>
            <li data-animate="fadeInUp" data-delay=".6">
                <a href="#" target="_blank"><img src="/img/brands/brand6.png" alt=""></a>
            </li>
            <li data-animate="fadeInUp" data-delay=".7">
                <a href="#" target="_blank"><img src="/img/brands/brand7.png" alt=""></a>
            </li>
            <li data-animate="fadeInUp" data-delay=".8">
                <a href="#" target="_blank"><img src="/img/brands/brand8.png" alt=""></a>
            </li>
            <li data-animate="fadeInUp" data-delay=".9">
                <a href="#" target="_blank"><img src="/img/brands/brand9.png" alt=""></a>
            </li>
        </ul>
    </div>
</section>
<!-- End of Our clients -->
