 <!-- Blog -->
<section class="blog pt-7 pb-7">
    <div class="container">
        <div class="row">
            <div class="col-md-8 order-last">
                <!-- Posts -->
                <div class="row">
                    <div class="col-md-6">
                        <div class="single-post" data-animate="fadeInUp" data-delay=".1">
                            <div class="image-hover-wrap">
                                <img src="/img/posts/sand now.jpg" alt="">
                                <div class="image-hover-content d-flex justify-content-center align-items-center text-center">
                                    <ul class="list-inline">
                                        <li><a href="#"><i class="fas fa-link"></i></a></li>
                                        <li><a href="#"><i class="fas fa-share-alt"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <span>نوشته شده در <a href="#">19 بهمن 1400</a></span>
                            <h4>دزدان دریایی تورنت ترجیح می دهند برای خدمات پخش ویدیو هزینه کنند</h4>
                            <a href="#">سفارش دادن<i class="fas fa-caret-right"></i></a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="single-post" data-animate="fadeInUp" data-delay=".2">
                            <div class="image-hover-wrap">
                                <img src="/img/posts/new2.jpg" alt="">
                                <div class="image-hover-content d-flex justify-content-center align-items-center text-center">
                                    <ul class="list-inline">
                                        <li><a href="#"><i class="fas fa-link"></i></a></li>
                                        <li><a href="#"><i class="fas fa-share-alt"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <span>نوشته شده در <a href="#">19 بهمن 1400</a></span>
                            <h4>
                                فولادی دارای مزایایی از قبیل مقاومت بیشتر در مقابل آتش 
                                </h4>
                            <a href="#">سفارش دادن<i class="fas fa-caret-right"></i></a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="single-post" data-animate="fadeInUp" data-delay=".1">
                            <div class="image-hover-wrap">
                                <img src="/img/posts/sandLogo.png" alt="">
                                <div class="image-hover-content d-flex justify-content-center align-items-center text-center">
                                    <ul class="list-inline">
                                        <li><a href="#"><i class="fas fa-link"></i></a></li>
                                        <li><a href="#"><i class="fas fa-share-alt"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <span>نوشته شده در <a href="#">19 بهمن 1400</a></span>
                            <h4>میزبانی وب نیروگاه برو بابا خدمات مدنی خود را گسترش دهد</h4>
                            <a href="#">سفارش دادن<i class="fas fa-caret-right"></i></a>
                        </div>
                    </div>
                  
                  
                 
                   
                  
                    <div class="col-md-6">
                        <div class="single-post" data-animate="fadeInUp" data-delay=".2">
                            <div class="image-hover-wrap">
                                <img src="/img/posts/post10.jpg" alt="">
                                <div class="image-hover-content d-flex justify-content-center align-items-center text-center">
                                    <ul class="list-inline">
                                        <li><a href="#"><i class="fas fa-link"></i></a></li>
                                        <li><a href="#"><i class="fas fa-share-alt"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <span>نوشته شده در <a href="#">19 بهمن 1400</a></span>
                            <h4>نحوه تماشای آنلاین جریان های زنده بوندسلیگا با VPNet</h4>
                            <a href="#">به خواندن ادامه دهید<i class="fas fa-caret-right"></i></a>
                        </div>
                    </div>
                </div>

                <!-- Pagination -->
                <ul class="custom-pagination list-inline text-center text-uppercase mt-4" data-animate="fadeInUp" data-delay=".1">
                    <li class="float-left disabled"><a href="#"><i class="fas fa-caret-left"></i> قبلی</a></li>
                    <li class="active"><a href="#">01</a></li>
                    <li><a href="#">02</a></li>
                    <li><a href="#">03</a></li>
                    <li><a href="#">04</a></li>
                    <li><a href="#">05</a></li>
                    <li class="float-right"><a href="#">بعدی <i class="fas fa-caret-right"></i></a></li>
                </ul>
            </div>

            <!-- Sidebar -->
            <div class="col-md-4">
                <aside>
                    <div class="single-widget" data-animate="fadeInUp" data-delay=".1">
                        <form action="#">
                            <div class="form-group position-relative mb-0">
                                <input class="form-control" type="text" placeholder="جستجو" data-parsley-required-message="Please type at least one word." data-parsley-minlength="3" data-parsley-minlength-message="Please type at least one word." required>
                                <button type="submit"><i class="fas fa-search"></i></button>
                            </div>
                        </form>
                    </div>

                    <div class="single-widget" data-animate="fadeInUp" data-delay=".1">
                        <h3 data-animate="fadeInUp" data-delay=".2">دسته بندی ها</h3>
                        <ul class="widget-categories list-unstyled mb-0">
                            <li data-animate="fadeInUp" data-delay=".25"><a href="#"><span>فن آوری</span><span class="count">3523</span></a></li>
                            <li data-animate="fadeInUp" data-delay=".3"><a href="#"><span>هاست ابری</span><span class="count">3523</span></a></li>
                            <li data-animate="fadeInUp" data-delay=".35"><a href="#"><span>قالب های وردپرس</span><span class="count">3523</span></a></li>
                            <li data-animate="fadeInUp" data-delay=".4"><a href="#"><span> برنامه نویسیphp</span><span class="count">3523</span></a></li>
                            <li data-animate="fadeInUp" data-delay=".45"><a href="#"><span>تجارت بین المللی</span><span class="count">3523</span></a></li>
                            <li data-animate="fadeInUp" data-delay=".5"><a href="#"><span>علوم اجتماعی</span><span class="count">3523</span></a></li>
                        </ul>
                    </div>

                    <div class="single-widget" data-animate="fadeInUp" data-delay=".1">
                        <h3 data-animate="fadeInUp" data-delay=".2">پستهای اخیر</h3>
                        <ul class="recent-posts list-unstyled mb-0">
                            <li data-animate="fadeInUp" data-delay=".25"><a href="#">چگونه Smith VS Holzken را به صورت آنلاین از هر کجا تماشا کنیم؟</a></li>
                            <li data-animate="fadeInUp" data-delay=".3"><a href="#">در عمده استخدام فشار، میزبانی وب نیروگاه برو بابا به گسترش</a></li>
                            <li data-animate="fadeInUp" data-delay=".35"><a href="#">لورم ایپسوم با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است</a></li>
                            <li data-animate="fadeInUp" data-delay=".4"><a href="#">چگونه Emmett VS Stephens را در UFC Fight Night FOX 28 تماشا کنیم؟</a></li>
                            <li data-animate="fadeInUp" data-delay=".45"><a href="#">کودکان بریتانیایی در معرض نگهداری اطلاعات تهاجمی قرار می گیرند</a></li>
                        </ul>
                    </div>

                    <div class="single-widget" data-animate="fadeInUp" data-delay=".1">
                        <h3 data-animate="fadeInUp" data-delay=".2">ما را دنبال کنید</h3>
                        <ul class="row half-gutters follow-us list-unstyled">
                            <li class="col-4" data-animate="fadeInUp" data-delay=".25">
                                <a class="facebook" href="#">
                                    <i class="fab fa-facebook-f"></i>
                                    <span>Like 23.5k</span>
                                </a>
                            </li>
                            <li class="col-4" data-animate="fadeInUp" data-delay=".3">
                                <a class="twitter" href="#">
                                    <i class="fab fa-twitter"></i>
                                    <span>Follow 4.5k</span>
                                </a>
                            </li>
                            <li class="col-4" data-animate="fadeInUp" data-delay=".35">
                                <a class="google" href="#">
                                    <i class="fab fa-google-plus-g"></i>
                                    <span>Like 82.5k</span>
                                </a>
                            </li>
                            <li class="col-4" data-animate="fadeInUp" data-delay=".4">
                                <a class="pinterest" href="#">
                                    <i class="fab fa-pinterest-p"></i>
                                    <span>Follow 6.9k</span>
                                </a>
                            </li>
                            <li class="col-4" data-animate="fadeInUp" data-delay=".45">
                                <a class="rss" href="#">
                                    <i class="fas fa-rss"></i>
                                    <span>follow 2.8k</span>
                                </a>
                            </li>
                            <li class="col-4" data-animate="fadeInUp" data-delay=".5">
                                <a class="linkedin" href="#">
                                    <i class="fab fa-linkedin-in"></i>
                                    <span>follow 3.5k</span>
                                </a>
                            </li>
                        </ul>
                    </div>

                  

                    <div class="single-widget text-center" data-animate="fadeInUp" data-delay=".1">
                        <h3 data-animate="fadeInUp" data-delay=".2">تبلیغات</h3>
                        <img src="/img/camera.jpg" alt="" data-animate="fadeInUp" data-delay=".25">
                    </div>
                </aside>
            </div>
        </div>
    </div>
</section>
<!-- End of Blog -->