<!-- About us -->
<section class="page-title-wrap position-relative bg-light">
    <div id="particles_js"></div>
    <div class="container">
        <div class="row">
            <div class="col-11">
                <div class="page-title position-relative pt-5 pb-5">
                    <ul class="custom-breadcrumb roboto list-unstyled mb-0 clearfix" data-animate="fadeInUp"
                        data-delay="1.2">
                        <li><a href="index.html">صفحه اصلی</a></li>
                        <li><i class="fas fa-angle-double-right"></i></li>
                        <li><a href="#">درباره ما</a></li>
                    </ul>
                    <h1 data-animate="fadeInUp" data-delay="1.3">درباره ما</h1>
                </div>
            </div>
            <div class="col-1">
                <div class="world-map position-relative">
                    <img src="/img/map.svg" alt="" data-no-retina class="svg">
                </div>
            </div>
        </div>
    </div>
</section>
<section class="pt-7 pb-7">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-11">
                <div class="about-us-title text-center">
                    <h2 data-animate="fadeInUp" data-delay=".1">به VPNet خوش آمدید</h2>
                    <p data-animate="fadeInUp" data-delay=".2">
                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت
                        چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان
                        که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای
                        کاربردی می باشد کتابهای زیادی در شصت و سه درصد گذشته حال
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="single-about-us-info" data-animate="fadeInUp" data-delay=".1">
                    <h3>ما کی هستیم؟</h3>
                    <p>
                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است
                        تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد کتابهای زیادی در
                        شصت و سه درصد گذشته حال و آینده
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="single-about-us-info" data-animate="fadeInUp" data-delay=".2">
                    <h3>ماموریت ما</h3>
                    <p>
                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است
                        تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد کتابهای زیادی در
                        شصت و سه درصد گذشته حال و آینده
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="single-about-us-info" data-animate="fadeInUp" data-delay=".3">
                    <h3>دیدگاه ما</h3>
                    <p>
                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است
                        چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی
                        شصت و سه درصد گذشته حال و آینده
                    </p>
                </div>
            </div>
        </div>

        <div class="write-about-us text-center">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <h2 data-animate="fadeInUp" data-delay=".1">درباراه VPNet سوالی دارید ؟</h2>
                    <p data-animate="fadeInUp" data-delay=".2">
                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت
                        چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان
                        که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز
                    </p>
                    <a href="#" class="btn btn-primary" data-animate="fadeInUp" data-delay=".3">تماس با ما</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End of About us -->
<!-- Our team -->
<section class="pt-7 pb-5-5 bg-light">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-6 col-lg-8 col-md-10">
                <div class="section-title text-center">
                    <h2 data-animate="fadeInUp" data-delay=".1">تیم ما</h2>
                    <p data-animate="fadeInUp" data-delay=".2">
                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت
                        چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان
                        که لازم است
                    </p>
                </div>
            </div>
        </div>

        <!-- Members -->
        <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="single-member" data-animate="fadeInUp" data-delay="0">
                    <div class="image-hover-wrap">
                        <img src="/img/members/member1.jpg" alt="">
                        <div class="image-hover-content d-flex justify-content-center align-items-center text-center">
                            <ul class="list-inline">
                                <li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#" target="_blank"><i class="fab fa-google-plus-g"></i></a></li>
                                <li><a href="#" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
                                <li><a href="#" target="_blank"><i class="fab fa-vk"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="single-member-info">
                        <h4>Vivian J. Rogers</h4>
                        <span>رئیس اجرایی (CEO)</span>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="single-member" data-animate="fadeInUp" data-delay=".1">
                    <div class="image-hover-wrap">
                        <img src="/img/members/member2.jpg" alt="">
                        <div class="image-hover-content d-flex justify-content-center align-items-center text-center">
                            <ul class="list-inline">
                                <li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#" target="_blank"><i class="fab fa-google-plus-g"></i></a></li>
                                <li><a href="#" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
                                <li><a href="#" target="_blank"><i class="fab fa-vk"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="single-member-info">
                        <h4>Marie S. Higginbotham</h4>
                        <span>افسر ارشد بازاریابی</span>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="single-member" data-animate="fadeInUp" data-delay=".2">
                    <div class="image-hover-wrap">
                        <img src="/img/members/member3.jpg" alt="">
                        <div class="image-hover-content d-flex justify-content-center align-items-center text-center">
                            <ul class="list-inline">
                                <li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#" target="_blank"><i class="fab fa-google-plus-g"></i></a></li>
                                <li><a href="#" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
                                <li><a href="#" target="_blank"><i class="fab fa-vk"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="single-member-info">
                        <h4>Larry W. Oliver</h4>
                        <span>مدیر عامل</span>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="single-member" data-animate="fadeInUp" data-delay=".3">
                    <div class="image-hover-wrap">
                        <img src="/img/members/member4.jpg" alt="">
                        <div class="image-hover-content d-flex justify-content-center align-items-center text-center">
                            <ul class="list-inline">
                                <li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#" target="_blank"><i class="fab fa-google-plus-g"></i></a></li>
                                <li><a href="#" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
                                <li><a href="#" target="_blank"><i class="fab fa-vk"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="single-member-info">
                        <h4>Michelle R. Weiss</h4>
                        <span>مدیر تولید</span>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="single-member" data-animate="fadeInUp" data-delay=".4">
                    <div class="image-hover-wrap">
                        <img src="/img/members/member5.jpg" alt="">
                        <div class="image-hover-content d-flex justify-content-center align-items-center text-center">
                            <ul class="list-inline">
                                <li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#" target="_blank"><i class="fab fa-google-plus-g"></i></a></li>
                                <li><a href="#" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
                                <li><a href="#" target="_blank"><i class="fab fa-vk"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="single-member-info">
                        <h4>Christine T. McCallister</h4>
                        <span>مدیر روابط</span>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="single-member" data-animate="fadeInUp" data-delay=".5">
                    <div class="image-hover-wrap">
                        <img src="/img/members/member6.jpg" alt="">
                        <div class="image-hover-content d-flex justify-content-center align-items-center text-center">
                            <ul class="list-inline">
                                <li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#" target="_blank"><i class="fab fa-google-plus-g"></i></a></li>
                                <li><a href="#" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
                                <li><a href="#" target="_blank"><i class="fab fa-vk"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="single-member-info">
                        <h4>Leroy L. Bowen</h4>
                        <span>Co-مدیر هم بنیانگذار</span>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="single-member" data-animate="fadeInUp" data-delay=".6">
                    <div class="image-hover-wrap">
                        <img src="/img/members/member7.jpg" alt="">
                        <div class="image-hover-content d-flex justify-content-center align-items-center text-center">
                            <ul class="list-inline">
                                <li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#" target="_blank"><i class="fab fa-google-plus-g"></i></a></li>
                                <li><a href="#" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
                                <li><a href="#" target="_blank"><i class="fab fa-vk"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="single-member-info">
                        <h4>Lee A. Funderburg</h4>
                        <span>مدیر خلاقیت جوان</span>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="single-member" data-animate="fadeInUp" data-delay=".7">
                    <div class="image-hover-wrap">
                        <img src="/img/members/member8.jpg" alt="">
                        <div class="image-hover-content d-flex justify-content-center align-items-center text-center">
                            <ul class="list-inline">
                                <li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#" target="_blank"><i class="fab fa-google-plus-g"></i></a></li>
                                <li><a href="#" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
                                <li><a href="#" target="_blank"><i class="fab fa-vk"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="single-member-info">
                        <h4>Ricky M. Hallett</h4>
                        <span>افسر ارشد بازاریابی</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End of Our team -->
<!-- Servers -->
<section class="servers pt-7 bg-light">
    <div class="container">
        <div class="row">
            <div class="col-xl-4 col-lg-5">
                <div class="section-title">
                    <h2 data-animate="fadeInUp" data-delay=".1">سرور 865 در کشور 197</h2>
                    <p data-animate="fadeInUp" data-delay=".2">
                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت
                        چاپ و با استفاده از طراحان گرافیک است
                    </p>
                </div>
                <ul class="data-centers list-unstyled list-item clearfix">
                    <li data-animate="fadeInUp" data-delay=".1">
                        <i class="fas fa-caret-right"></i>آمریکای شمالی
                        (201)
                    </li>
                    <li data-animate="fadeInUp" data-delay=".2">
                        <i class="fas fa-caret-right"></i>آمریکای جنوبی
                        (169)
                    </li>
                    <li data-animate="fadeInUp" data-delay=".3"><i class="fas fa-caret-right"></i>اروپا (151)</li>
                    <li data-animate="fadeInUp" data-delay=".4">
                        <i class="fas fa-caret-right"></i>استرالیا/اقیانوسیه
                        (142)
                    </li>
                    <li data-animate="fadeInUp" data-delay=".5"><i class="fas fa-caret-right"></i>آسیا (70)</li>
                    <li data-animate="fadeInUp" data-delay=".6"><i class="fas fa-caret-right"></i>آفریقا (40)</li>
                </ul>
                <a href="#" class="btn server-btn" data-animate="fadeInUp" data-delay=".7">
                    مشاهده روش پرداخت <i class="fas fa-caret-right"></i>
                </a>
            </div>
            <div class="col-xl-8 col-lg-7 d-none d-lg-block">
                <div class="server-map">
                    <img src="/img/servers.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Servers -->
<!-- Our clients -->
<section class="clients-wrap pt-4 pb-4">
    <div class="container">
        <ul class="our-clients list-unstyled d-md-flex align-items-md-center justify-content-md-between m-0">
            <li data-animate="fadeInUp" data-delay=".1">
                <a href="#" target="_blank"><img src="/./img/brands/brand1.png" alt="brand"></a>
            </li>
            <li data-animate="fadeInUp" data-delay=".2">
                <a href="#" target="_blank"><img src="/./img/brands/brand2.png" alt="brand"></a>
            </li>
            <li data-animate="fadeInUp" data-delay=".3">
                <a href="#" target="_blank"><img src="/./img/brands/brand3.png" alt="brand"></a>
            </li>
            <li data-animate="fadeInUp" data-delay=".4">
                <a href="#" target="_blank"><img src="/./img/brands/brand4.png" alt="brand"></a>
            </li>
            <li data-animate="fadeInUp" data-delay=".5">
                <a href="#" target="_blank"><img src="/./img/brands/brand5.png" alt="brand"></a>
            </li>
            <li data-animate="fadeInUp" data-delay=".6">
                <a href="#" target="_blank"><img src="/./img/brands/brand6.png" alt="brand"></a>
            </li>
            <li data-animate="fadeInUp" data-delay=".7">
                <a href="#" target="_blank"><img src="/./img/brands/brand7.png" alt="brand"></a>
            </li>
            <li data-animate="fadeInUp" data-delay=".8">
                <a href="#" target="_blank"><img src="/./img/brands/brand8.png" alt="brand"></a>
            </li>
            <li data-animate="fadeInUp" data-delay=".9">
                <a href="#" target="_blank"><img src="/./img/brands/brand9.png" alt="brand"></a>
            </li>
        </ul>
    </div>
</section>
<!-- End of Our clients -->